body {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: relative;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #2B2B2B, #F0F0F0);
    color: #111;
}
body p{
    font-size: 1.3rem;
}

.nav-item5{
    justify-items: end;
}

#nav{
    position: fixed; /* faz ela ficar fixa */
    top: 0;           /* gruda no topo */
    left: 0;          /* gruda na esquerda */
    width: 100%; 
    z-index: 9999;
    background-color: black;
}

.hero {
    margin-top: 40px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.hero-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.hero-text {
    margin-top: 100px;
    flex: 1 1 500px;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

.hero-subtitle {
    font-size: 1.25rem;
    margin-top: 0.5rem;
    color: #e0e0e0;
}
.social-links {
    display: flex;
    gap: 1rem;
    justify-content: baseline;
    margin-top: 1rem;
}
  
.social-icon i {
    font-size: 3rem;
    color: #0A1F44;
    transition: color 0.3s ease;
    margin-right: 2rem;
}
  
.social-icon:hover i {
    color: #06142d;
}
  

.hero-buttons {
    margin-top: 2.2rem;
}

.hero-image {
    flex: 1 1 400px;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;     
}

.hero-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20%;
    box-shadow: 0 0 20px;
    width: 300px;
}

@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .hero-buttons .btn {
        margin-bottom: 0.5rem;
    }
    .hero-image{
        max-width: 250px
    }
}

#sobre {
    margin-bottom:200px;
    margin-top: 0px;
    h2{
        margin-top: 50px;
        text-align: center;
        margin-bottom: 1.5rem;
    }
}
#sobre .hard_skills h2{
    margin-top: 80px;
}
#sobre_mim h2{
    margin-top: 30px;
}

#sobre .list-group {
    flex-wrap: wrap;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    margin-bottom: 0.5rem;
}
  
#sobre .list-group-item {
    background-color: transparent;
    border: none;
    padding: 0.25rem;
}

#projetos {
    background: linear-gradient(to bottom, #909090, #2B2B2B);
    margin-top: 20px;
}
  
.horizontal-card {
    background-color: #292929;
    border: none;
    border-radius: 10px;
}
  
.project-img {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}
  
.card-body {
    padding: 1.25rem;
}
  
.card-title {
    color: #00aaff;
}
  
.card-text small {
    color: #cccccc;
}  

#contato{
    background: linear-gradient(to bottom,#2B2B2B, #aaaaaa);
}

#contato h2{
    color: #F0F0F0;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

form{
    margin-bottom: 30px;
}

.btn-custom {
    background-color: #0A1F44 !important;
    color: white !important;
    border: none;
    transition: background-color 0.3s ease;
    padding: 0.5rem 1.2rem;
    border-radius: 0.3rem;
    font-weight: 500;
  }
  
  .btn-custom:hover {
    background-color: #06142d !important;
    color: white !important;
  }